/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
/******* End of the css reset *******/

h4 {
    font-family: Bangers, cursive;
}
@media(min-width: 501px) {
    h4 {
        font-size: 16px;
    }
}


.container {
    width: 500px;
    margin: 0 auto;
}
@media(min-width: 501px) {
    .container {
      width: 800px;
    }
}
@media(min-width: 801px) {
    .container {
      width: 900px;
    }
}

header {
	width: 100%;
	padding-bottom: 50px;
    padding-top: 10px;
    display: flex;
    flex-flow: column wrap;
}
header img {
    margin: auto;
    padding: 30px 0px 20px;
}
header nav {
    text-align: center;
    border-top: 1px solid gray;
}
header nav a {
    display: block;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid gray;
	color: gray;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Titillium Web'
}
@media(min-width: 501px) {
    header nav {
        border-top: 0px;
        display: flex;
        flex-flow: row nowrap;
    }
    header nav a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      font-size: 16px;
      border-bottom: 0px;
    }
}
@media(min-width: 801px) {
    header {
        display: flex;
        flex-flow: row-reverse nowrap;
    }
    header img {
        margin-left: 50px;
    }
    header nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin-right: 12px;        
    }
}

.slogan {
    display: flex;
    flex-flow: column wrap;
	border-bottom: 2px solid gray;
	text-align: center;
    padding-bottom: 54px;
    margin: 0 20px;
}
.slogan .motto {
    align-self: center;
    font-family: Bangers, cursive;
    font-size: 73px;
}

.slogan button {
    width: 50%;
    align-self: center;
    color: gray;
    font-size: 15px;
    margin: 22px 20px 20px 20px;
	padding: 7px 30px;
	background: transparent;
	border: 1px gray solid;
}
.slogan button:hover {
	background-color: royalblue;
	color: white;
}
.slogan .code {
    display: none;
}
@media(min-width: 501px) {
    .slogan button {
        width: 50%;
    }
}
@media(min-width: 801px) {
    .slogan {
        display: flex;
        flex-flow: row nowrap;
        margin: 0;
        padding-bottom: 75px;
        border-bottom: 2px solid black;
    }
    .slogan .code {
        width: 45%;
        display: flex;
        padding-left: 30px;
    }
    .slogan .motto {
        width: 60%;
        padding-top: 40px;
        padding-left: 72px;
        padding-bottom: 35px;
    }
    .slogan button {
        width: 40%;
        margin: 0px;
    }
}


.content {
	display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 57px 20px 20px;
}
.block1 {
	width: 100%;
    padding-bottom: 41px;
    font-size: 15px;
}
.block1 p {
    line-height: 1.27;
}
.middle-img {
    width: 100%;
    margin-top: 9px;
}
.block2 {
	width: 100%;
    margin-right: 18px;
    padding: 30px 0px 29px;
}
.block2 p {
    line-height: 1.2
}
.block2:last-child {
    padding-bottom: 0px;
}
@media(min-width: 501px) {
    .content {
        flex-flow: row wrap;
        padding-top: 35px;
    }
    .block1 {
        width: 49%;
        padding-bottom: 25px;
    }
    .block1 p {
        line-height: 1.4;
    }
    .block2 {
        display: flex;
        flex-flow: row wrap;
        width: 30%;
        padding: 30px 0px 5px;
    }
    .middle-img {
        margin: 0px;
    }
}
@media(min-width: 801px) {
    .block2 {
        line-height: 1;
        width: 31%
    }
}

footer {
    padding-top: 30px;
    margin-top: 9px;
    margin-left: 20px;
	border-top: 1px gray solid;
    width: 92%;
    display: flex;
    flex-flow: column nowrap;
}
footer .contact {
	width: 100%;
}
footer address {
	padding-bottom: 20px;
}
footer .footer_info {
	padding-bottom: 20px;
}
footer .copy {
	text-align: center;
	width: 100%;
    padding-bottom: 100px;
    padding-top: 10px;
}

@media(min-width: 501px) {
    footer .contact {
        margin-left: 10px;
    }
}
@media(min-width: 801px) {
    footer {
        width: 100%;
    }
}